@import "tailwindcss";


/* Tus variables de color personalizadas */
:root {
  --color1: #000000;
  --color2: #1e1e1e;
  --color3: #3b3b3b;
  --color4: #595959;
  --color5: #767676;
  --color6: #bebebe;


  background-color: var(--color5);


  @keyframes fade-in-out {
  0% { opacity: 0; transform: translateY(20px); }
  20% { opacity: 1; transform: translateY(0); }
  80% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-10px); }
}

.animate-fade-in-out {
  animation: fade-in-out 2s ease-in-out forwards;
}
}